<div>
	<article class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<h1 class="img-mark"><i class="fa fa-clock-o"></i></h1>
		<h3>{{ context['about.section1.title'] }}</h3>
		<p>{{ context['about.section1.content1'] }}<br />{{ context['about.section1.content2'] }}</p>
	</article>
	
	<article class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<h1 class="img-mark"><i class="fa fa-cloud-upload"></i></h1>
		<h3>{{ context['about.section2.title'] }}</h3>
		<p>{{ context['about.section2.content1'] }}</p>
	</article>

	<article class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<h1 class="img-mark"><i class="fa fa-mobile"></i></h1>
		<h3>{{ context['about.section3.title'] }}</h3>
		<p>{{ context['about.section3.content1'] }}<br />{{ context['about.section3.content2'] }}</p>		
	</article>
</div>
