<div class="row">
  <article class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="icon">
          <i class="icon-github"></i>
      </div>
      <h3>Open Source</h3>
      <p>The IDE component is available as an open source project (built with web technologies) on <a href="https://github.com/FriendCode/codebox">GitHub</a> or <a href="https://twitter.com/CodeboxIO" target="_blank">Stay updated on Twitter</a>.</p>
  </article>
  
  <article class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="icon">
          <i class="icon-laptop"></i>
      </div>
      <h3>Desktop</h3>
      <p>This app turns any Chromebook or PC into a full-blown development environment for opening local and cloud projects.</p>
  </article>
  
  <article class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="icon">
          <i class="icon-cloud"></i>
      </div>
      <h3>Cloud</h3>
      <p>Create powerful development environments in the cloud with a collaborative, online/offline IDE for your collaborators and your teams.</p>
  </article>
</div>
