<div class="text-center">
	<div class="header-links">
		<a href="#">Home</a>
		<a href="#upload">Upload</a>
		<a href="#about">About</a>
		<a href="#source">Source</a>
		<a href="#contact">Contact</a>
	</div>

	<h1 class="home-title"><span class="strong lato">10</span><span class="satisfy">away</span></h1>

	<div class="home-subtitle text-center"><i class="fa fa-cloud-upload"></i> {{ context['service.slogan'] }}
		<span class="btn btn-success fileinput-button">
				<i class="fa fa-cloud-upload"></i>
				<span>{{ context['file.add'] }}...</span>
				<input class="fileupload" type="file" name="files[]" multiple="multiple" />
		</span>
	</div>

</div>