<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../favicon.ico">
		<title>{{ context['service.name'] }} - {{ context['service.slogan'] }}</title>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="/static/css/thunderfs.min.css">
		<!--[if lt IE 9]>
			<link href="//netdna.bootstrapcdn.com/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
			<link href="/static/ie/respond.proxy.gif" id="respond-redirect" rel="respond-redirect" />
			<script src="/static/ie/html5shiv.js"></script>
			<script src="/static/ie/respond.min.js"></script>
			<script src="/static/ie/respond.proxy.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="error-header clearfix" id="header">
			{% include 'modules/error-header.html' %}
		</div>

		<div class="error-content clearfix">
			{% include 'modules/error-content.html' %}
		</div>
		
		<div class="footer clearfix">
			{% include 'modules/footer.html' %}
		</div>

		{% include 'modules/config.html' %}
		
		<script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.min.js"></script>
		<script src="/static/js/thunderfs.min.js"></script>
		{% include 'modules/uservoice.html' %}
		{% include 'modules/analytics.html' %}
	</body>
</html>
